body {
  background-color: ##AFAFA;
}

.container {
  margin-top: 19vh;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1100px) {
  div.name {
    position: none;
    margin: 0;
    text-align: center;
  }

  input#short,
  input#long {
    width: 90%;
  }

  button#shorten_button {
    width: 93%;
  }
}

.name {
  margin-top: 2%;
  margin-left: 15%;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 800;
  font-size: 50px;
  color: #027c70;
  letter-spacing: 3px;
}

#long,
#short {
  /* width: 90%; */
  width: 50%;
  height: 40px;
}

#shorten_button {
  margin-top: 10px;
  outline: none;
  /* width: 92.5%; */
  width: 51%;
  height: 50px;
  background-color: #699df6;
  color: #fff;
  border-width: 0;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#shorten_button:hover {
  cursor: pointer;
}

#shorten_button:disabled {
  background-color: #a6c3f6;
  cursor: auto;
}

#long[type='text'],
#short[type='text'] {
  border: none;
  border-bottom: 1.5px solid #cfdef6;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 5px;
  transition: all 0.1s ease;
}

#long[type='text']:focus,
#short[type='text']:focus {
  outline: none;
  /* border-bottom: 1.5px solid #40baf5; */
  border-bottom: 1.5px solid #037e71;
}
