body {
  margin-top: 35vh;
  text-align: center;
}

.container {
  margin: auto;
  width: 65%;
  padding: 10px;
}

#long,
#short {
  width: 65%;
  height: 40px;
}

#shorten_button {
  outline: none;
  width: 65%;
  height: 50px;
  background-color: #40baf5;
  color: #fff;
  border-width: 0;
  border-radius: 3px;
  font-family: 'Maven Pro', sans-serif;
  font-size: large;
}

#long[type='text'],
#short[type='text'] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 10px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  transition: all 0.1s ease;
}

#long[type='text']:focus,
#short[type='text']:focus {
  outline: none;
  border-bottom: 1.5px solid #40baf5;
}
